<!DOCTYPE html>
<html>
<head>
	<title>Song success Test</title>
</head>
<body>
	<h1>Look at the list below</h1>
	<p>Artist Name: <%= data.artistName%></p>
	<p>Song Name: <%= data.songName%></p>
	<p>Year: <%= data.songYear%></p>
	<p>Youtube: <%= data.songYoutube%></p>


</body>
</html>