<!DOCTYPE html>
<html>
<head>
	<title>Song Page</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymousd">

	<link rel="stylesheet" type="text/css" href="team.css">
</head>

<body>
	<h1>Which team inspires you?</h1>

	<form class="form-inline" id="teamInput">
		
		<div class="form-group">
		    <input type="string" class="form-control" id="teamName" placeholder="Team Name">
		</div>

<br><br>

		<div class="form-group">
		    <input type="string" class="form-control" id="teamTheme" placeholder="Theme (If applicable)">
		</div>

<br><br>

		<div class="form-group">
		    <input type="string" class="form-control" id="teamYear" placeholder="Year">
		</div>

<br><br>

		<div class="form-group">
		    <input type="string" class="form-control" id="teamYoutube" placeholder="Youtube Link">
		</div>

<br><br>

		<div class="form-group">
			  <button type="submit" class="btn btn-primary">Submit</button>
		</div>

	</form>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="team.js"></script>
</body>
</html>