<!DOCTYPE html>
<html>
<head>
	<title>Inspo: Team</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymousd">

	<link rel="stylesheet" type="text/css" href="team.css">
</head>

<body>
	<h1>Which team inspires you?</h1>

	<form class="form-inline" id="teamInput" method="POST" action="/team">
		
		<div class="form-group">
		    <input type="string" class="form-control" name="teamName" placeholder="Team Name">
		</div>

<br><br>

		<div class="form-group">
		    <input type="string" class="form-control" name="competition" placeholder="Competition">
		</div>

<br><br>

		<div class="form-group">
		    <input type="string" class="form-control" name="teamYear" placeholder="Year">
		</div>

<br><br>

		<div class="form-group">
		    <input type="string" class="form-control" name="teamYoutube" placeholder="Youtube Link">
		</div>

<br><br>

		<div class="form-group">
			  <button type="submit" class="btn btn-primary">Submit</button>
		</div>

	</form>

	<%for (var i = 0; i < projectSongs.length; i++) {%>
		<div id="teamEntry">
			<p>TEAM NAME: <%= projectSongs[i].teamName %></p>
			<p>COMPETITION: <%= projectSongs[i].competition %></p>
			<p>YEAR: <%= projectSongs[i].teamYear %></p>
			<p>YouTube: <%= projectSongs[i].teamYoutube %></p>
		</div>
	<% } %>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="team.js"></script>
</body>
</html>