<!DOCTYPE html>
<html>
<head>
	<title>directory</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymousd">

	<link rel="stylesheet" type="text/css" href="directory.css">

</head>
<body>

	<button id="songButton" type="button" class="btn-lg btn-outline-light">Song</button>
	
	<button id="choreoButton" type="button" class="btn-lg btn-outline-light">Choreographers</button>
	
	<button id="teamButton" type="button" class="btn-lg btn-outline-light">Teams</button>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="directory.js"></script>

</body>
</html>