body {
	text-align: center;
}

h1 {
	color: red;
}

.form-group {
	width: 200px;
	text-align: center;
}

p {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

p:hover {
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}